{% extends "base.html" %}
{% load static %}
{% block title %} {{ object.motion_title }} {% endblock %}
{% block content%}
     <!--style.css-->
     <link rel="stylesheet" href="{% static 'csss/stylee.css' %}"> 
	
		<!--about start -->
		<section id="about" class="about">
			<div class="container">
				<div class="about-content">
					<div class="row">
						<div class="col-sm-6">
							<div class="single-about-txt">
								<h3>{{ object.motion_title }}</h3>
								<p>{{ object.motion_description }}</p>
							</div>
                            <div class="btn-wrapper">
                                <a href=""onclick="history.back(); return false;" class="btn btn-primary"style="border-radius: 10px;"><i class="fa fa-angle-left">Back</i></a>
                            </div>
						</div>
						<div class="col-sm-offset-1 col-sm-5">
							<div class="single-about-img">
								<img src="{{ object.motion_img.url }}" alt="profile_image">	
								</div><!-- /.about-list-icon -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</section><!--/.about-->
		<!--about end -->


{% endblock %}