{% extends "base.html" %}
{% load static %}
{% block content%}


<br>
  <!-- service section -->
  <section class="service_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center ">
        <h2 class="">Talk to Us</h2>
        <p class="col-lg-8 px-0">Feel free to reach out to us on...</p>
      </div>
      <div class="service_container">
        <div class="carousel-wrap ">
          <div class="service_owl-carousel owl-carousel">
            <div class="item">
              <div class="box ">
                <div class="detail-box">
                  <i class="fa fa-whatsapp"></i>
                    <a href="https://wa.me/+2348133427429?text=Hi iMotion ?"target="_blank">
                    <h4>Whatsapp Us</h4>
                    <small>+2348133427429</small>
                    <p><a href="https://wa.me/+2348133427429?text=Hi iMotion ?"target="_blank">Whatsapp Us</a></p>
                    </a>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box ">
                <i class="fa fa-envelope"></i>
                <a href="mailto:robinsonimoh@gmail.com"target="_blank">
                <h4>Send Us Email/Info</h4>
                <small>We Will Get Back To You</small>
                <p><a href="mailto:robinsonimoh@gmail.com"target="_blank">iMotion.com</a></p>
               </a> 
              </div>
            </div>
            <div class="item">
              <div class="box ">
                <i class="fa fa-map-marker"></i>
                <a href="https://maps.app.goo.gl/RdH8sMYTon6BrDgYA"target="_blank">
                <h4>Visit Our Office</h4>
                <small>13, Ahmed Jimoh close</small>
                <p><a href="https://maps.app.goo.gl/RdH8sMYTon6BrDgYA"target="_blank">View on Google Map</a></p>
               </a> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  
  <!-- service section ends -->
  <!-- contact section -->
  <section class="contact_section ">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 px-0">
          <div class="img-box ">
            <img src="{% static 'images/im.jpg' %}"height="470" class="box_img" alt="about img">
          </div>
        </div>
        <div class="col-md-5 mx-auto">
          <div class="form_container">
            <div class="heading_container heading_center">
              <h2>Get In Touch</h2>
            </div>
            <form method="POST">
              {% csrf_token %}
              <div class="form-row">
                <div class="form-group col">
                  <input name="message-name" type="text" class="form-control" placeholder="Your Name..." />
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col">
                  <input name="message-email" type="email" class="form-control" placeholder="Email" />
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col">
                  <input name="message" type="text" class="message-box form-control" placeholder="Message" />
                </div>
              </div>
              <div class="btn_box">
                <center><button type="submit" class="btn btn-primary" style="border-radius:5px;">Submit</button></center>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section><br>
  <!-- end contact section -->

  {% endblock %}